In [1]:
#!pip install yfinance==0.2.38
#!pip install pandas==2.2.2
!pip install nbformat

Requirement already satisfied: nbformat in c:\users\marcela jaimes\appdata\local\programs\python\python310\lib\site-packages (5.9.2)
Requirement already satisfied: fastjsonschema in c:\users\marcela jaimes\appdata\local\programs\python\python310\lib\site-packages (from nbformat) (2.18.0)
Requirement already satisfied: jsonschema>=2.6 in c:\users\marcela jaimes\appdata\local\programs\python\python310\lib\site-packages (from nbformat) (4.19.0)
Requirement already satisfied: jupyter-core in c:\users\marcela jaimes\appdata\local\programs\python\python310\lib\site-packages (from nbformat) (5.3.1)
Requirement already satisfied: traitlets>=5.1 in c:\users\marcela jaimes\appdata\local\programs\python\python310\lib\site-packages (from nbformat) (5.9.0)
Requirement already satisfied: attrs>=22.2.0 in c:\users\marcela jaimes\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=2.6->nbformat) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\marcela jaimes\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\marcela jaimes\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=2.6->nbformat) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\marcela jaimes\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=2.6->nbformat) (0.9.2)
Requirement already satisfied: platformdirs>=2.5 in c:\users\marcela jaimes\appdata\local\programs\python\python310\lib\site-packages (from jupyter-core->nbformat) (3.8.1)
Requirement already satisfied: pywin32>=300 in c:\users\marcela jaimes\appdata\local\programs\python\python310\lib\site-packages (from jupyter-core->nbformat) (306)

**Note***:- If you are working Locally using anaconda, please uncomment the following code and execute it.

In [16]:
#!pip install yfinance==0.2.38
#!pip install pandas==2.2.2
#!pip install nbformat

In [2]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In Python, you can ignore warnings using the warnings module. You can use the filterwarnings function to filter or ignore specific warning messages or categories.

In [3]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

## Define Graphing Function

In this section, we define the function `make_graph`. **You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.**

In [4]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [5]:
tesla=yf.Ticker("TSLA")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to ` "max" ` so we get information for the maximum amount of time.

In [6]:
tesla_data= tesla.history(period="max")

**Reset the index** using the `reset_index(inplace=True)` function on the tesla_data DataFrame and display the first five rows of the `tesla_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [7]:
tesla_data.reset_index(inplace=True)

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm Save the text of the response as a variable named `html_data`.

In [8]:
url=" https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
data=requests.get(url).text

Parse the html data using `beautiful_soup` using parser i.e `html5lib` or `html.parser`. Make sure to use the `html_data` with the content parameter as follow `html_data.content` .

In [9]:
soup= BeautifulSoup(data, 'html.parser')

In [10]:
soup.find_all('table')

[<table class="historical_data_table table">
 <thead>
 <tr>
 <th colspan="2" style="text-align:center">Tesla Annual Revenue<br/><span style="font-size:14px;">(Millions of US $)</span></th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td style="text-align:center">2021</td>
 <td style="text-align:center">$53,823</td>
 </tr>
 <tr>
 <td style="text-align:center">2020</td>
 <td style="text-align:center">$31,536</td>
 </tr>
 <tr>
 <td style="text-align:center">2019</td>
 <td style="text-align:center">$24,578</td>
 </tr>
 <tr>
 <td style="text-align:center">2018</td>
 <td style="text-align:center">$21,461</td>
 </tr>
 <tr>
 <td style="text-align:center">2017</td>
 <td style="text-align:center">$11,759</td>
 </tr>
 <tr>
 <td style="text-align:center">2016</td>
 <td style="text-align:center">$7,000</td>
 </tr>
 <tr>
 <td style="text-align:center">2015</td>
 <td style="text-align:center">$4,046</td>
 </tr>
 <tr>
 <td style="text-align:center">2014</td>
 <td style="text-align:center">$3,198</td>
 </tr>
 <tr>
 <td style="text-align:center">2013</td>
 <td style="text-align:center">$2,013</td>
 </tr>
 <tr>
 <td style="text-align:center">2012</td>
 <td style="text-align:center">$413</td>
 </tr>
 <tr>
 <td style="text-align:center">2011</td>
 <td style="text-align:center">$204</td>
 </tr>
 <tr>
 <td style="text-align:center">2010</td>
 <td style="text-align:center">$117</td>
 </tr>
 <tr>
 <td style="text-align:center">2009</td>
 <td style="text-align:center">$112</td>
 </tr>
 </tbody>
 </table>,
 <table class="historical_data_table table">
 <thead>
 <tr>
 <th colspan="2" style="text-align:center">Tesla Quarterly Revenue<br/><span style="font-size:14px;">(Millions of US $)</span></th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td style="text-align:center">2022-09-30</td>
 <td style="text-align:center">$21,454</td>
 </tr>
 <tr>
 <td style="text-align:center">2022-06-30</td>
 <td style="text-align:center">$16,934</td>
 </tr>
 <tr>
 <td style="text-align:center">2022-03-31</td>
 <td style="text-align:center">$18,756</td>
 </tr>
 <tr>
 <td style="text-align:center">2021-12-31</td>
 <td style="text-align:center">$17,719</td>
 </tr>
 <tr>
 <td style="text-align:center">2021-09-30</td>
 <td style="text-align:center">$13,757</td>
 </tr>
 <tr>
 <td style="text-align:center">2021-06-30</td>
 <td style="text-align:center">$11,958</td>
 </tr>
 <tr>
 <td style="text-align:center">2021-03-31</td>
 <td style="text-align:center">$10,389</td>
 </tr>
 <tr>
 <td style="text-align:center">2020-12-31</td>
 <td style="text-align:center">$10,744</td>
 </tr>
 <tr>
 <td style="text-align:center">2020-09-30</td>
 <td style="text-align:center">$8,771</td>
 </tr>
 <tr>
 <td style="text-align:center">2020-06-30</td>
 <td style="text-align:center">$6,036</td>
 </tr>
 <tr>
 <td style="text-align:center">2020-03-31</td>
 <td style="text-align:center">$5,985</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-12-31</td>
 <td style="text-align:center">$7,384</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-09-30</td>
 <td style="text-align:center">$6,303</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-06-30</td>
 <td style="text-align:center">$6,350</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-03-31</td>
 <td style="text-align:center">$4,541</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-12-31</td>
 <td style="text-align:center">$7,226</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-09-30</td>
 <td style="text-align:center">$6,824</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-06-30</td>
 <td style="text-align:center">$4,002</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-03-31</td>
 <td style="text-align:center">$3,409</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-12-31</td>
 <td style="text-align:center">$3,288</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-09-30</td>
 <td style="text-align:center">$2,985</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-06-30</td>
 <td style="text-align:center">$2,790</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-03-31</td>
 <td style="text-align:center">$2,696</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-12-31</td>
 <td style="text-align:center">$2,285</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-09-30</td>
 <td style="text-align:center">$2,298</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-06-30</td>
 <td style="text-align:center">$1,270</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-03-31</td>
 <td style="text-align:center">$1,147</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-12-31</td>
 <td style="text-align:center">$1,214</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-09-30</td>
 <td style="text-align:center">$937</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-06-30</td>
 <td style="text-align:center">$955</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-03-31</td>
 <td style="text-align:center">$940</td>
 </tr>
 <tr>
 <td style="text-align:center">2014-12-31</td>
 <td style="text-align:center">$957</td>
 </tr>
 <tr>
 <td style="text-align:center">2014-09-30</td>
 <td style="text-align:center">$852</td>
 </tr>
 <tr>
 <td style="text-align:center">2014-06-30</td>
 <td style="text-align:center">$769</td>
 </tr>
 <tr>
 <td style="text-align:center">2014-03-31</td>
 <td style="text-align:center">$621</td>
 </tr>
 <tr>
 <td style="text-align:center">2013-12-31</td>
 <td style="text-align:center">$615</td>
 </tr>
 <tr>
 <td style="text-align:center">2013-09-30</td>
 <td style="text-align:center">$431</td>
 </tr>
 <tr>
 <td style="text-align:center">2013-06-30</td>
 <td style="text-align:center">$405</td>
 </tr>
 <tr>
 <td style="text-align:center">2013-03-31</td>
 <td style="text-align:center">$562</td>
 </tr>
 <tr>
 <td style="text-align:center">2012-12-31</td>
 <td style="text-align:center">$306</td>
 </tr>
 <tr>
 <td style="text-align:center">2012-09-30</td>
 <td style="text-align:center">$50</td>
 </tr>
 <tr>
 <td style="text-align:center">2012-06-30</td>
 <td style="text-align:center">$27</td>
 </tr>
 <tr>
 <td style="text-align:center">2012-03-31</td>
 <td style="text-align:center">$30</td>
 </tr>
 <tr>
 <td style="text-align:center">2011-12-31</td>
 <td style="text-align:center">$39</td>
 </tr>
 <tr>
 <td style="text-align:center">2011-09-30</td>
 <td style="text-align:center">$58</td>
 </tr>
 <tr>
 <td style="text-align:center">2011-06-30</td>
 <td style="text-align:center">$58</td>
 </tr>
 <tr>
 <td style="text-align:center">2011-03-31</td>
 <td style="text-align:center">$49</td>
 </tr>
 <tr>
 <td style="text-align:center">2010-12-31</td>
 <td style="text-align:center">$36</td>
 </tr>
 <tr>
 <td style="text-align:center">2010-09-30</td>
 <td style="text-align:center">$31</td>
 </tr>
 <tr>
 <td style="text-align:center">2010-06-30</td>
 <td style="text-align:center">$28</td>
 </tr>
 <tr>
 <td style="text-align:center">2010-03-31</td>
 <td style="text-align:center">$21</td>
 </tr>
 <tr>
 <td style="text-align:center">2009-12-31</td>
 <td style="text-align:center"></td>
 </tr>
 <tr>
 <td style="text-align:center">2009-09-30</td>
 <td style="text-align:center">$46</td>
 </tr>
 <tr>
 <td style="text-align:center">2009-06-30</td>
 <td style="text-align:center">$27</td>
 </tr>
 </tbody>
 </table>,
 <table class="historical_data_table table">
 <thead>
 <tr>
 <th style="text-align:center">Sector</th>
 <th style="text-align:center">Industry</th>
 <th style="text-align:center">Market Cap</th>
 <th style="text-align:center">Revenue</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td style="text-align:center"><a href="https://www.macrotrends.net/stocks/sector/5/auto-tires-trucks">Auto/Tires/Trucks</a></td>
 <td style="text-align:center"><a href="https://www.macrotrends.net/stocks/industry/7/">Auto Manufacturers - Domestic</a></td>
 <td style="text-align:center">$549.575B</td>
 <td style="text-align:center">$53.823B</td>
 </tr>
 <tr>
 <td colspan="4" style="padding:15px;">
 <span>Tesla is the market leader in battery-powered electric car sales in the United States, with roughly 70% market share. The company's flagship Model 3 is the best-selling EV model in the United States. Tesla, which has managed to garner the reputation of a gold standard over the years, is now a far bigger entity that what it started off since its IPO in 2010, with its market cap crossing $1 trillion for the first time in October 2021.? The EV king's market capitalization is more than the combined value of legacy automakers including Toyota, Volkswagen, Daimler, General Motors and Ford.Over the years, Tesla has shifted from developing niche products for affluent buyers to making more affordable EVs for the masses. The firm's three-pronged business model approach of direct sales, servicing, and charging its EVs sets it apart from other carmakers. Tesla, which is touted as the clean energy revolutionary automaker, is much more than just a car manufacturer.</span>
 </td>
 </tr>
 </tbody>
 </table>,
 <table class="historical_data_table table">
 <thead>
 <tr>
 <th style="text-align:center; width:40%;">Stock Name</th>
 <th style="text-align:center; width:20%;">Country</th>
 <th style="text-align:center; width:20%;">Market Cap</th>
 <th style="text-align:center; width:20%;">PE Ratio</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/GM/general-motors/revenue">General Motors (GM)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$53.930B</td>
 <td style="text-align:center">5.56</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/F/ford-motor/revenue">Ford Motor (F)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$52.668B</td>
 <td style="text-align:center">8.09</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/HOG/harley-davidson/revenue">Harley-Davidson (HOG)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$6.762B</td>
 <td style="text-align:center">9.56</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/PII/polaris/revenue">Polaris (PII)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$6.267B</td>
 <td style="text-align:center">11.86</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/IAA/iaa/revenue">IAA (IAA)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$5.134B</td>
 <td style="text-align:center">16.40</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/FSR/fisker/revenue">Fisker (FSR)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$2.261B</td>
 <td style="text-align:center">0.00</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/LEV/lion-electric/revenue">Lion Electric (LEV)</a></td>
 <td style="text-align:center">Canada</td>
 <td style="text-align:center">$0.551B</td>
 <td style="text-align:center">0.00</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/VLTA/volta/revenue">Volta (VLTA)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$0.071B</td>
 <td style="text-align:center">0.00</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/BRDS/bird-global/revenue">Bird Global (BRDS)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$0.054B</td>
 <td style="text-align:center">0.00</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/ZEV/lightning-emotors/revenue">Lightning EMotors (ZEV)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$0.043B</td>
 <td style="text-align:center">0.00</td>
 </tr>
 </tbody>
 </table>,
 <table class="table">
 <thead>
 <tr>
 <th>Link Preview</th>
 <th>HTML Code (Click to Copy)</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td><a>Tesla Revenue 2010-2022 | TSLA</a></td>
 <td><input class="modal_link" size="60" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'&gt;Tesla Revenue 2010-2022 | TSLA&lt;/a&gt;"/></td>
 </tr>
 <tr>
 <td><a>Macrotrends</a></td>
 <td><input class="modal_link" size="60" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'&gt;Macrotrends&lt;/a&gt;"/></td>
 </tr>
 <tr>
 <td><a>Source</a></td>
 <td><input class="modal_link" size="60" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'&gt;Source&lt;/a&gt;"/></td>
 </tr>
 </tbody>
 </table>,
 <table class="table">
 <thead>
 <tr>
 <th>Link Preview</th>
 <th>HTML Code (Click to Copy)</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td><a>Tesla Revenue 2010-2022 | TSLA</a></td>
 <td><input class="modal_link" size="50" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'&gt;Tesla Revenue 2010-2022 | TSLA&lt;/a&gt;"/></td>
 </tr>
 <tr>
 <td><a>Macrotrends</a></td>
 <td><input class="modal_link" size="50" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'&gt;Macrotrends&lt;/a&gt;"/></td>
 </tr>
 <tr>
 <td><a>Source</a></td>
 <td><input class="modal_link" size="50" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'&gt;Source&lt;/a&gt;"/></td>
 </tr>
 </tbody>
 </table>]

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [11]:
tesla_revenue=pd.DataFrame(columns= ["Date","Revenue"])

In [12]:
table_revenue=soup.find_all('table')[1]
for row in table_revenue.find('tbody').find_all('tr'):
    col= row.find_all('td')
    date=col[0].text
    revenue=col[1].text
    tesla_revenue= pd.concat([tesla_revenue, pd.DataFrame({"Date":[date], "Revenue": [revenue]})], ignore_index= True)

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [13]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"", regex=True)

Execute the following lines to remove an null or empty strings in the Revenue column.

In [14]:
tesla_revenue.dropna(inplace= True)
tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [15]:
tesla_revenue.tail(5)

          Date Revenue
48  2010-09-30      31
49  2010-06-30      28
50  2010-03-31      21
52  2009-09-30      46
53  2009-06-30      27

## Question 3: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

In [16]:
game_stop=yf.Ticker("GME")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to ` "max" ` so we get information for the maximum amount of time.

In [17]:
gme_data= game_stop.history(period = "max")

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [18]:
gme_data.reset_index(inplace= True)
gme_data.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712708,1.716074,1.670626,1.683251,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0

In [19]:
gme_data.tail(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
5700,2024-10-07 00:00:00-04:00,21.350000,21.530001,20.809999,20.900000,5988000,0.0,0.0
5701,2024-10-08 00:00:00-04:00,20.900000,21.270000,20.530001,20.709999,4840500,0.0,0.0
5702,2024-10-09 00:00:00-04:00,20.500000,20.740000,20.299999,20.500000,3914000,0.0,0.0
5703,2024-10-10 00:00:00-04:00,20.469999,21.049999,20.379999,20.910000,4180800,0.0,0.0
5704,2024-10-11 00:00:00-04:00,20.660000,21.219999,20.660000,20.830000,3912200,0.0,0.0

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html. Save the text of the response as a variable named `html_data_2`.

In [48]:
url2= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
html_data_2=requests.get(url).text

Parse the html data using beautiful_soup using parser i.e html5lib or html.parser.

In [50]:
soup_2=BeautifulSoup(html_data_2,'html.parser')

Using `BeautifulSoup` or the `read_html` function extract the table with `GameStop Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column.

In [53]:
table_revenue_2=soup_2.find_all("tbody")[1]
gme_revenue=pd.DataFrame(columns=["Date", "Revenue"])
for row in table_revenue_2.find_all('tr'):
    col= row.find_all('td')
    date= col[0].text
    revenue=col[1].text
    gme_revenue=pd.concat([gme_revenue,pd.DataFrame({"Date":[date], "Revenue":[revenue]})], ignore_index=True)

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. Note the graph will only show data upto June 2021.

In [ ]:
make_graph(tesla_data,tesla_revenue,'Tesla')

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`. Note the graph will only show data upto June 2021.

In [ ]:
make_graph(game_data,gme_revenue, 'GameStop')